doctype html
html
  head
    title= Homework4
    style(type='text/css').
        body {
            background-image: url('!{imageURI}');
            background-repeat: repeat-x;
            background-position: center;
            margin-right: 30px;
            margin-left: 30px;
        }
        h1 {
          text-align:center;
          font-family: "Comic Sans MS", "Comic Sans", cursive;
          color:white;
          margin: auto;
          width: 50%;
          border: 5px dashed blue;
          padding: 10px;
        }
        li {
          text-align:center;
          text-decoration: underline;
          background-color: blue;
          text-background: red;
          color:white;
          font-family: "Comic Sans MS", "Comic Sans", cursive;
          margin: auto;
          width: 50%px
        }
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
  h1 Tweets 
  ul
      each tweet in tweets
        li= tweet.text
        -break